<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bored Assignment</title>
    <link rel="stylesheet" href="/styles.css" />
</head>

<body>
    <section class="px-8 py-12 bg-gray-100 mx-auto">
        <h2 class="text-center text-4xl font-bold text-blue-900">
            Bored Api Assignment
        </h2>

        
        <div class="container mx-auto p-12">
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-6">
                
                <div class="flex justify-center ">
                    <div class="block p-2 rounded-lg shadow-lg bg-white max-w-sm">
                    <h5 id = "texts"> </h5>
                    <!-- <p class="text-gray-500 text-base mb-4">{{ apiData.type }}</p>
                    <h5 class="text-gray-600 text-xl leading-tight font-medium mb-2">Participant : {{ apiData.participants }} </h5> -->
                    </div>
                </div>

            </div>
        </div>
        
        
    </section>

    <script>
        var api;
        async function getapi(url) {
            
            // Storing response
            const response = await fetch(url);
            
            // Storing data in form of JSON
            api = await response.json();
            // console.log(api); 
            const para = document.createElement("h5");
            para.innerText = "Activities : " + api.activity;
            document.body.appendChild(para);

            // var element = document.getElementById("texts");
            // element.classList.add("text-gray-600", "text-xl", "leading-tight", "font-medium", "mb-2");

            // document.getElementById('texts').innerText = "Activities : " + api.activity;
        }
        for (let index = 0; index < 15; index++) {
            getapi("http://www.boredapi.com/api/activity/");
        }
    </script>

</body>

</html>